{% extends 'base.html.twig' %}

{% block title %}Page edition de compte{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper table { text-align: center; font-size: 14px;}
    </style>
    {% form_theme formCategory 'bootstrap_4_layout.html.twig' %}

    <div class="example-wrapper">

        <h1> EDITION COMPTE</h1>

        <button type="button" class="btn btn-outline-primary" > <a href="{{ path('home') }}"><i class="fas fa-home"></i>  Retour sur accueil  </a></button>
        <button type="button" class="btn btn-outline-primary" > <a href="{{ path('category') }}"><i class="fas fa-home"></i>  Retour sur liste categorie  </a></button>


        {{ form_start(formCategory) }}
        <table class="table">
            <tr>
                <th scope="row">{{ form_row(formCategory.title) }}</th>

            </tr>
        </table>
        {{ form_end(formCategory) }}
    </div>

{% endblock %}